<!DOCTYPE html>
<html>
<head>
  <title>ChatActioncableReact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <% if current_user %>
    <%= current_user.name %><span class="right"><%= link_to "logout", logout_path %></span>
    <% else %>
      <%= link_to "login with twitter", "/auth/twitter" %>
    <% end %>
  </nav>

<%= yield %>

</body>
</html>
